# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs and runtime data
logs/*.log
logs/alerts.json
*.sqlite3
*.db

# Packet captures & pcaps
*.pcap
*.pcapng
samples/*.pcap

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
